<div class="login-container">
  <h2>Register</h2>
  <form (ngSubmit)="onSubmit()">
    <input type="text" [(ngModel)]="registerData.name" name="Email" placeholder="Email" required>
    <input type="text" [(ngModel)]="registerData.email" name="Email" placeholder="Email" required>
    <input type="password" [(ngModel)]="registerData.password" name="password" placeholder="Password" required>
    <input type="password" [(ngModel)]="registerData.passwordAgain" name="password" placeholder="Password Again" required>
    <button type="submit">Register</button>

    <span>
      {{errorMessage}}
    </span>
  </form>
</div>
