@use '@angular/material' as mat;

@include mat.core();

$hot-pink-palette: (
  100: #FFC7D2,
  200: #FFB6C3,
  500: #d65db1,
  700: #FF97A8,
  contrast: (100: black, 200: black, 500: white, 700: white)
);


$tiffany-blue-palette: (
  100: #CFF2F1,
  200: #B8EDEA,
  500: #2c73d2,
  700: #86E0DF,
  contrast: (100: black, 200: black, 500: white, 700: white)
);


$my-primary: mat.define-palette($hot-pink-palette, 500);
$my-accent: mat.define-palette($tiffany-blue-palette, 500);
$my-warn: mat.define-palette(mat.$red-palette, 500);

$light-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  )
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$grey-palette, 900),
    accent: mat.define-palette(mat.$blue-grey-palette, 500),
    warn: $my-warn,
  )
));

@include mat.all-component-themes($light-theme);

.dark-mode {
  @include mat.all-component-colors($dark-theme);
}

body, *{
  margin: 0;
  padding: 0;
}

