<form (ngSubmit)="onPost()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input [formControl]="titleForm" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea [formControl]="textForm" matInput rows="10"></textarea>
  </mat-form-field>

  <div class="file-upload-container">
    <input type="file" #fileInput hidden (change)="onFileSelected($event)">

    <button type="button" mat-raised-button (click)="fileInput.click()">
      <mat-icon>upload</mat-icon>
      Select File
    </button>

    <span *ngIf="selectedFile">{{ selectedFile?.name }}</span>
  </div>

  @for (item of this.stepForms; track item; let i = $index) {
    <mat-form-field>
      <mat-label>Step: {{ i + 1 }}</mat-label>
      <textarea [formControl]="item" matInput rows="5"></textarea>
    </mat-form-field>

  }
  <div class="button-row">
    <button type="button" (click)="addStep()" mat-button color="primary">Add step</button>

    @if (this.stepForms.length != 0) {
      <button type="button" (click)="removeStep()" mat-button color="warn">Remove step</button>
    }
  </div>


  <div class="button-row">
    <button type="submit" mat-flat-button color="primary">Share it!</button>
  </div>

</form>


