<form (ngSubmit)="onPost()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input [formControl]="titleForm" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea [formControl]="textForm" matInput rows="10"></textarea>
  </mat-form-field>

  <div class="file-upload-container">
    <input type="file" #fileInput hidden (change)="onFileSelected($event)">

    <button mat-raised-button (click)="fileInput.click()">
      <mat-icon>upload</mat-icon> Select File
    </button>

    <span *ngIf="selectedFile">{{ selectedFile?.name }}</span>
  </div>

  <div class="button-row">
    <button type="submit" mat-flat-button color="primary">Share it!</button>
  </div>

</form>


