div {
  color: white;
  display: flex;
  padding: 8px;
  border-bottom: 2px solid #FF1654;
  margin-bottom: 20px;
}

a{
    text-decoration: none;
    color:white;
}

nav.nav-menu{
    flex: 1;
    padding-left: max(5vw, 10px);
}

nav.nav-login {
  padding-right: max(5vw, 10px);
}

button.mat-button{
  color: white;
}
