<div>
  <nav class="nav-menu">
    <a routerLink="" mat-button>Recipes</a>
    <a routerLink="/ingredient" mat-button>Ingrediet</a>

    <app-authorized-view>
      <ng-template #authorizedView>
        <a routerLink="recipe/add" mat-button color="primary">Share own recipes</a>
      </ng-template>
    </app-authorized-view>

    <app-authorized-view [role]="'Admin'">
      <ng-template #authorizedView>
        <a routerLink="recipe/add" mat-button color="primary">Admin view</a>
      </ng-template>
    </app-authorized-view>
  </nav>
  <nav class="nav-login">
    <app-authorized-view>

      <ng-template #authorizedView>
        <button mat-button [matMenuTriggerFor]="aboveMenu">{{this.userService.getUser()?.name}}</button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
          <button mat-menu-item (click)="logout()">unassign</button>
        </mat-menu>
      </ng-template>

      <ng-template #unauthorizedView>
        <button mat-button [matMenuTriggerFor]="aboveMenu">Login</button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
          <a mat-menu-item routerLink="/login">Login</a>
          <a mat-menu-item routerLink="/register">Register</a>
        </mat-menu>

      </ng-template>

    </app-authorized-view>
  </nav>
</div>
