.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

mat-form-field {
  width: 100%;
}

form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 12px 0;
}


.form-fields {
  width: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  align-items: end;
  flex-direction: column;
}

.form{
  width: 500px;
}

.button-row{
  display: flex;
  gap: 10px;
}
