@use '../../../styles' as main;
//// Import your custom styles if needed
@use '@angular/material' as mat; // Import Angular Material's theming functions

span {
  border-radius: 5px;
  padding: 5px;
  color: #FFFFFF;
  background-color: mat.get-color-from-palette(main.$hot-pink-palette, 500);
  font-weight: bold;
}


.example-card {
  max-width: 400px;
}

:host {
  margin-top: 40px;
  margin-bottom: 40px;
}

.clickable {
  cursor: pointer;
}

:host {
  width: auto;
  height: auto;
}

mat-card-footer{
  display: flex;
  justify-content: end;
  margin: 7px;
}
