<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title class="clickable" routerLink="{{this.recipe?.id}}">{{ recipe?.title }}</mat-card-title>
    <mat-card-subtitle>{{ this.recipe?.author?.name }}</mat-card-subtitle>
  </mat-card-header>
  @if (imageUrl != null) {
    <img [src]="imageUrl" alt="{{recipe?.title}}"/>
  }
  <mat-card-content>
    <p style="margin-top: 10px">
      {{ recipe?.text }}
    </p>
  </mat-card-content>
  <mat-card-actions style="display: flex; justify-content: space-between">
    <div>
      <button mat-button routerLink="{{this.recipe?.id}}">Details</button>

      @if(!isFavorite){
        <button mat-button (click)="like(this.recipe?.id ?? -1)">Like</button>
      }
      @else{
        <button mat-button (click)="unlike(this.recipe?.id ?? -1)">Unlike</button>
      }

      <app-authorized-view [userId]="recipe?.authorId!">
        <ng-template #authorizedView>
          <button mat-button color="warn" (click)="delete()">
            Delete
          </button>
        </ng-template>

        <ng-template #unauthorizedView>
          <app-authorized-view role="Admin">
            <ng-template #authorizedView>
              <button mat-button color="warn" (click)="delete()">
                Delete
              </button>
            </ng-template>
          </app-authorized-view>
        </ng-template>
      </app-authorized-view>

    </div>
    <span class="chip">{{ (this.recipe?.average ?? 0) * 20 }}% rating</span>
  </mat-card-actions>
  <mat-card-footer>


  </mat-card-footer>
</mat-card>
