.container {
  justify-content: center;
  flex-direction: column;
  display: flex;
  background: white;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  text-align: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.container h2 {
  margin-bottom: 20px;
}
.container input, textarea, select {
  width: 500px;
  padding: 10px 0;
  margin: 10px 0;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-align: center;
}
input::file-selector-button {
  margin-left: 10px;
  padding: 10px;
  font-weight: bold;
  color: white;
  background: #FF1654 !important;
  border: none;
  border-radius: 3px;
}

textarea{
  resize: vertical;
  height: 150px;
}

.container button {
  justify-self: right;

  width: 100px;
  padding: 10px;
  margin: 10px 0;
  background: #FF1654;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  align-self: flex-end;
}
.container button:hover {
  background: #ef0040;
}

a {
  color: #FF1654;
  text-decoration: none;
}
span{

  font-weight: 400;
}
